
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Repository Archive | Login</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/login1.css' %}">

</head>
<body id="loginLanding">
   <main class="wrapper">
       <header id="logo">
           <h1>Archive</h1>
       </header>
        <section id="sign">
            <header>
                <h1>Log in to your open Repository</h1>
            </header>
            <article id="loginForm">
               
                <form action="index.html">
                    {% csrf_token %}
                   
                    <label for="email"><i class="fas fa-envelope"></i> Email</label>
                    <input type="email" id="email" name="email" required>

                    <label for="password"><i class="fas fa-lock"></i> Password</label>
                    <input type="password" id="password" name="password" required>

                    <div>
                        <button id="loginBtn">Login <i class="fas fa-angle-right"></i></button>
                    </div>
                    <div>
                  <button>  <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Google</a>
                  </button>
                    <aside>
                        <p><a href="#">Forgot your password?</a>  <a href="#">Join Now</a>.</p>
                    </aside>
                    
                </form>
            </article>
        </section>
   </main>
</body>
</html>